body {
  margin: 0;
  padding: 0;
}

h1 {
  color: #3b2c53;
}

.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #dbaeaf;
  color: #6D6875;
  margin-top: 20px;
  border-radius: 9px;
  box-shadow: 15px 15px 15px rgba(9, 9, 9, 0.2), -3px -3px 5px rgba(54, 46, 46, 0.2);
}

.movie-details {
  margin-left: 2rem;
  margin-bottom: 1.1rem;
}

.name {
  font-weight: 800;
}

img {
  height: 490px;
  width: 330px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1.1rem;
}